.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.cart-container {
  position: absolute;
  width: 260px;
  height: 944px;
  left: 1176px;
  top: 80px;
  padding: 10px 30px;
  text-align: center;
  background: rgba(255, 153, 0, 0.3);
  border: 3px solid orange;
}
.cart-container h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 3px;
}
.cart-container p {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  font-family: "Lato";
  letter-spacing: 0.11px;
}

@media screen and (max-width: 1300px) {
  .products-container {
    grid-template-columns: repeat(2, 2fr);
  }
  .cart-container {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .cart-container {
    display: none;
  }
}
