.header{
height: 80px;
background-color:  #1C2B35;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 112px;
padding-right: 97px;
}

.header a{
text-decoration: none;
color: white;
margin-left: 32px;
font-size: 17px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.05em;
}
.header a:hover{
    color: orange;
}

@media screen and (max-width:600px){
   .header{
    display: block;
}
}